<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>新兴贸易</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Vegetables Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'> -->
<!--//fonts-->
<script src="/js/jquery.easydropdown.js"></script>
</head>
<body  style="background-color:rgb(235, 227, 227);"> 
	  <!--header-->
	<div class="header">
		<div class="container">
			<div class="header-top">			
				<center>
					<div class="logo">
						<a href="#"><img src="/img/logo.jpg" alt=" " ></a>
						<ul style="list-style-type: none;">
							<li><a href="login" class="scroll" style="color:black">退出登录</a><label>|</label></li>
							<li class="in-up"><a href="management" style="color:black" class="scroll">个人中心</a><label>|</label></li>						
						</ul>
					</div>
				</center>
				<div class="search-in">
					<div class="header-grid">
						<!-- <ul>
							<li><a href="login" class="scroll" style="color:black">退出登录</a><label>|</label></li>
							<li class="in-up"><a href="management" style="color:black" class="scroll">个人中心</a><label>|</label></li>						
						</ul> -->
				</div>
				<div class="search-top">
				</div>
				<div class="clearfix"> </div>
				</div>
			</div>	
			<div class="clearfix"> </div>
			</div>
			<div class="header-bottom-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li><a href="about">关于我们</a></li>
						<li><a href="everyday"> 产品</a></li>
					</ul>	
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
				</script>			
				</div>	
				<div class="clearfix"> </div>
				</div>
		</div>
	</div>
	<!---->
	<div class="banner-in">
		<div class="container">
			<!-- <h6>首页 / <span>关于我们</span></h6> -->
		</div>
	</div>
<!---->
			<div class="container">
				<div class="about">
					<div class="about-top">
						<span class="col-md-8 top-about">
							<h5>关于我们</h5><br>
							<span style="font-size: 25px;">一款贸易软件,用户既可以是商家也可以是买家,用户之间自由进行交易,用户可以根据自身实际需求寻找对应的货源进行交易,与厂家联系直销进货，解决销货源问题.也可以认证为商家进行售卖自身货品,商品检测合格后发布产生凭证可以验证真实性并记录一系列信息以便查询,以链上资金托管方式待双方确认交易完成后转入卖家账户并生成唯一哈希交易记录。
							</span>
							<!-- <a href="single.html" class="btn  btn-1c">了解更多</a> -->
						</span>
						<div class="col-md-4 about-in">
						<a href="#"><img class="img-responsive" src="/img/about.jpeg" alt=" " ></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>

</body>
</html>