
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>个人中心</title>
	<script type="text/javascript" charset="UTF-8" src="/js/back.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/back.css" media="all" />
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: rgb(212, 212, 186);">
	<div class="page">
		<section class="demo">
			<div class="admin-panel clearfix">
				<div class="slidebar">
					<div class="logo">
						<a href=""></a>
					</div>
					<ul>
						<!-- <li><a href="management_About" id="targeted">后台首页</a></li><br> -->
						<li><a href="/management">上架商品</a></li><br>
						<li><a href="/management/history">历史交易记录</a></li><br>
						<li><a href="/management/bill">电子发票凭证</a></li><br>
						<li><a href="/management/user">个人信息</a></li><br>
						<li><a href="/about">退出</a></li>
						
					</ul>
				</div>
				<div class="main">
					<ul class="topbar clearfix">
						<li><a href="#">q</a></li>
						<li><a href="#">p</a></li>
						<li><a href="#">o</a></li>
						<li><a href="#">f</a></li>
						<li><a href="#">n</a></li>
					</ul>
					<div style="height: 200px;"></div>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="lastname" class="col-sm-2 control-label">商品类型</label>
							<div class="col-sm-10">
							  <select class="form-control" id="val">
								  <option>请选择商品所属类型</option>
								  <option>日常</option>
								  <option>书籍</option>
								  <option>电器</option>
								  <option>食物</option>
								  <option>衣物</option>
							  </select>
							</div>
						</div>
						<div class="form-group">
						  <label for="firstname" class="col-sm-2 control-label">商品名字</label>
						  <div class="col-sm-10">
							<input type="text" class="form-control" id="firstname" placeholder="请输入商品名字"  autocomplete="off">
						  </div>
						</div>
					    <div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">商品详情</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="firstname" placeholder="请输入商品详情"  autocomplete="off">
							</div>
						  </div>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">商品图片</label>
							<div class="col-sm-10">
							  <input type="file" class="form-control" id="firstname" placeholder="上传商品图片"  autocomplete="off">
							</div>
						  </div>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">商品价格</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="firstname" placeholder="请输入商品价格"  autocomplete="off">
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label for="firstname" class="col-sm-2 control-label">商品出售者</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="firstname" placeholder="请输入商品出售者"  autocomplete="off">
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label for="firstname" class="col-sm-2 control-label">商品上架时间</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="firstname" placeholder="商品上架时间"  autocomplete="off">
							</div>
						</div>
						<div class="form-group">
						  <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" onclick="putway()" class="btn btn-default">上架</button>
						  </div>
						</div>
					</form>
					<ul class="statusbar">
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li class="profiles-setting"><a href="">s</a></li>
						<li class="logout"><a href="">k</a></li>
					</ul>
				</div>
			</div>
			</div>
			<script type="text/javascript">
				(function() {
					var initTarget = document.getElementById("targeted");
					initTarget.click();
				})();
			</script>
		</section>

	</div>
<div style="text-align:center;clear:both">
</div>	
<script>
	function putway(){
		va = document.getElementById("val").value
	    console.log(va)
		alert(va)
	}
</script>
</body>
</html>