
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>个人中心</title>
	<script type="text/javascript" charset="UTF-8" src="/js/back.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/back.css" media="all" />
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: rgb(212, 212, 186);">
	<div class="page">
		<section class="demo">
			<div class="admin-panel clearfix">
				<div class="slidebar">
					<div class="logo">
						<a href=""></a>
					</div>
					<ul>
						<li><a href="/management">上架商品</a></li><br>
						<li><a href="/history">历史交易记录</a></li><br>
						<li><a href="/bill">电子发票凭证</a></li><br>
						<li><a href="/user">个人信息</a></li><br>
						<li><a href="/about">退出</a></li>
						
					</ul>
				</div>
				<div class="main">
					<ul class="topbar clearfix">
						<li><a href="#">q</a></li>
						<li><a href="#">p</a></li>
						<li><a href="#">o</a></li>
						<li><a href="#">f</a></li>
						<li><a href="#">n</a></li>
					</ul>
					<div style="height: 100px;"></div>
					<div>
						<center><h1>发票详细</h1></center><br>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">商品名：</label>
							<div class="col-sm-10">
							  <input type="text" value="草莓" class="form-control" id="firstname" readonly  autocomplete="off">
							</div>
						</div><br>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">商品类型：</label>
							<div class="col-sm-10">
							  <input type="text" value="食物" class="form-control" id="firstname" readonly  autocomplete="off">
							</div>
						</div><br>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">出售者：</label>
							<div class="col-sm-10">
							  <input type="text" value="张三" class="form-control" id="firstname" readonly  autocomplete="off">
							</div>
						</div><br>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">购买者：</label>
							<div class="col-sm-10">
							  <input type="text" value="李四" class="form-control" id="firstname" readonly  autocomplete="off">
							</div>
						</div><br>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">收货地址</label>
							<div class="col-sm-10">
							  <input type="text" value="江西软件职业技术大学" class="form-control" id="firstname" readonly  autocomplete="off">
							</div>
						</div><br>
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">Hash凭证：</label>
							<div class="col-sm-10">
							  <input type="text" value="e9cu39u37cdceb88fcb7fe277129071bd671936b97cac491" class="form-control" id="firstname" readonly  autocomplete="off">
							</div>
						</div>
					</div>
					<ul class="statusbar">
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li class="profiles-setting"><a href="">s</a></li>
						<li class="logout"><a href="">k</a></li>
					</ul>
				</div>
				
			</div>
			</div>
			<script type="text/javascript">
				(function() {
					var initTarget = document.getElementById("targeted");
					initTarget.click();
				})();
			</script>
		</section>

	</div>
<div style="text-align:center;clear:both">
</div>	
</body>
</html>