<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <title>电子发票</title>
</head>
<body>
    <div class="header">
        <a href="usercenter" class="left"></a>
        电子发票
    </div>
    <div class="main">
        <div style="height: 100px;"></div>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">发票详细</label>
            </div><br>
        <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">商品名：</label>
        <div class="col-sm-10">
            <input type="text" value="草莓" class="form-control" id="firstname" readonly  autocomplete="off">
        </div>
        </div><br>
        <label for="firstname" class="col-sm-2 control-label">商品类型：</label>
        <div class="col-sm-10">
            <input type="text" value="食物" class="form-control" id="firstname" readonly  autocomplete="off">
        </div>
        </div><br>
        <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">出售者：</label>
        <div class="col-sm-10">
            <input type="text" value="张三" class="form-control" id="firstname" readonly  autocomplete="off">
        </div>
        </div><br>
        <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">Hash凭证：</label>
        <div class="col-sm-10">
            <input type="text" value="e9cu39u37cdceb88fcb7fe277129071bd671936b97cac491" class="form-control" id="firstname" readonly  autocomplete="off">
        </div>
    </body>
</html>