<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>新兴贸易</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Vegetables Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'> -->
<!--//fonts-->
<script src="/js/jquery.easydropdown.js"></script>
</head>
<body style="background-color: gold;"> 
	  <!--header-->
	<div class="header">
		<div class="container">
			<div class="header-top">			
				<div class="logo">
					<a href="#"><img src="/img/logo.jpg" alt=" " ></a>
				</div>
				<div class="search-in">
					<div class="header-grid">
						<ul>
							<li class="in-up"><a href="login" style="color:black" class="scroll">退出登录</a> <label>|</label></li>
							<li class="in-up"><a href="management" style="color:black" class="scroll">个人中心</a> <label>|</label></li>					
						</ul>
				</div>
				<div class="search-top">
					<div class="search">
					<form>
						<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
						<input type="submit"  value="搜索">
					</form>
				</div>
				<div class="cart">
					<a href="shop.html" class="cart-in"> </a>
				</div>
				<div class="clearfix"> </div>
				</div>
			</div>	
			<div class="clearfix"> </div>
			</div>
			<div class="header-bottom-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li><a href="about">关于我们</a></li>
						<li><a href="everyday" > 产品</a></li>
					</ul>	
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
				</script>			
				</div>	
				<div class="clearfix"> </div>
				</div>
		</div>
	</div>
	<!---->
	<!---->
	<div class="banner-in">
		<div class="container">
		</div>
	</div>
<!---->
			<div class="container">
				<div class="product">
					
				<ul id="filters">
						<!-- <li class="active"><span class="filter" data-filter="app card icon logo  web">全部</span></li> -->
						<li><a href="everyday"><span class="filter" data-filter="app">日常</span></a></li>
						<li><a href="book"><span class="filter" data-filter="card">书籍 </span></a></li>
						<li><a href="electric"><span class="filter" data-filter="icon">电器</span></a></li>
						<li><a href="food"><span class="filter" data-filter="logo">食物</span></a></li>
						<li><a href="clothes"><span class="filter" data-filter="logo">衣物</span></a></li>
					</ul>
					<div id="portfoliolist">
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper ">		
							<a href="single" class="b-link-stripe b-animate-go  thickbox play-icon">
						  <img class="img-responsive " src="/img/clothes/mj.jpeg" alt="" />
						   
						     <ul class="social-ic">
								<li class="down"><span> </span></li>
								<li class="in-search"><span> </span></li>
							</ul>
							</a>							
						</div>
					</div>	
                    <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper ">		
							<a href="single" class="b-link-stripe b-animate-go  thickbox play-icon">
						  <img class="img-responsive " src="/img/clothes/yrf.jpeg" alt="" />
						   
						     <ul class="social-ic">
								<li class="down"><span> </span></li>
								<li class="in-search"><span> </span></li>
							</ul>
							</a>							
						</div>
					</div>
                    <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper ">		
							<a href="single" class="b-link-stripe b-animate-go  thickbox play-icon">
						  <img class="img-responsive " src="/img/clothes/qp.jpeg" alt="" />
						   
						     <ul class="social-ic">
								<li class="down"><span> </span></li>
								<li class="in-search"><span> </span></li>
							</ul>
							</a>							
						</div>
					</div>			
					<div class="clearfix"> </div>
					</div>	
			<!-- Script for gallery Here -->
				<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
					<script type="text/javascript">
					$(function () {
						
						var filterList = {
						
							init: function () {
							
								// MixItUp plugin
								// http://mixitup.io
								$('#portfoliolist').mixitup({
									targetSelector: '.portfolio',
									filterSelector: '.filter',
									effects: ['fade'],
									easing: 'snap',
									// call the hover effect
									onMixEnd: filterList.hoverEffect()
								});				
							
							},
							
							hoverEffect: function () {
							
								// Simple parallax effect
								$('#portfoliolist .portfolio').hover(
									function () {
										$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
										$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
									},
									function () {
										$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
										$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
									}		
								);				
							
							}
				
						};
						
						// Run the show!
						filterList.init();
						
						
					});	
					</script>
			<!-- Gallery Script Ends -->

				</div>
			</div>
			<!---->

</body>
</html>