<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>新兴贸易</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Vegetables Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'> -->
<!--//fonts-->
<script src="/js/jquery.easydropdown.js"></script>
</head>
<body style="background-color: gold;"> 
	  <!--header-->
	<div class="header">
		<div class="container">
			<div class="header-top">			
				<div class="logo">
					<a href="#"><img src="/img/logo.jpg" alt=" " ></a>
				</div>
				<!-- <div class="search-in">
					<div class="header-grid">
						<ul>
							<li><a href="login" class="scroll" style="color:black">退出登录</a><label>|</label></li>
							<li class="in-up"><a href="management" style="color:black" class="scroll">个人中心</a><label>|</label></li>						
						</ul>
				</div> -->
				<div class="search-top">
					<!-- <div class="search"> -->
					<!-- <form>
						<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
						<input type="submit"  value="">
					</form> -->
				</div>
					<div class="cart">
					<a href="shop.html" class="cart-in"> </a>
				</div>
				<div class="clearfix"> </div>
				</div>
			</div>	
			<div class="clearfix"> </div>
			</div>
			<!-- <div class="header-bottom-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li><a href="about">关于我们</a></li>
						<li><a href="everyday" > 产品</a></li>
					</ul>	
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
				</script>			
				</div>	
				<div class="clearfix"> </div>
				</div> -->
		</div>
	</div>
	<!---->
	<!---->
	<div class="banner-in">
		<div class="container">
			<!-- <h6>HOME / <span>BLOG</span></h6> -->
		</div>
	</div>
<!---->
			<div class="container">
				<div class="single">
				<div class="blog-top-in">
					<div class="col-md-4 top-blog">
						<a href="#"><img class="img-responsive" src="/img/2.jpg" alt=" " ></a>
					</div>
					<div class="col-md-8 sed-in">
						<h4>商品名</h4>						
							<ul>
								<li><a href="#"><span><i> </i>出售者</span></a></li>
		  						 <li><span><i class="clock"> </i>上架时间</span></li>		  						 	
		  						 <li><span><i class="hit"> </i>售出</span></li>
		  					</ul>		  						
						<p>这是我的秘密，我是马蒂斯·奎斯的交通工具。如果他想活下去，他将来会没事的。当他们在山谷里时，他们用肩膀和手掌摔倒在人行道上。我们甚至不知道真相。这些鸟现在不在了。你需要做点什么。它不是在钻石出现之前，在时间和时间之间，它是狂热的。我不知道谁在指责我没有门。你不必担心任何人。在雪的口中，像兰花的尤伊斯莫，他被宣告为不服从。但他需要这么做。狮子的马车、狼的肩膀和狼的嘴。无论哪种方式，弧线都会跟随。你不必担心任何人。洛博蒂斯·尼斯和奥奇·尤伊斯莫，而洛博蒂斯则是权杖。但他需要这么做。狮子的马车、狼的肩膀和狼的嘴。无论哪种方式，弧线都会跟随。你不必担心任何人。在雪的口中，像兰花的尤伊斯莫，他被宣告为不服从。塞德·埃吉特·帕特·伊普苏姆。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<p class="at-in">这是我的秘密，我是马蒂斯·奎斯的交通工具。如果他想活下去，他将来会没事的。当他们在山谷里时，他们用肩膀和手掌摔倒在人行道上。我们甚至不知道真相。这些鸟现在不在了。你需要做点什么。它不是在钻石出现之前，在时间和时间之间，它是狂热的。我不知道谁在指责我没有门。你不必担心任何人。在雪的口中，像兰花的尤伊斯莫，他被宣告为不服从。塞德·埃吉特·帕特·伊普苏姆。 </p>
				<div class="comment-grid-top">
			<h3>用户评论</h3>
			<div class="comments-top-top">
				<div class="top-comment-left">
					<img class="img-responsive" src="images/co.png" alt="" />
				</div>
				<div class="top-comment-right">
					<ul>
						<li><span class="left-at">评论者</span></li>
						<li><span class="right-at">评论时间</span></li>
						<!-- <li><a class="reply" href="#">REPLY</a></li> -->
					</ul>
				<p>读者在查看页面布局时，会被页面的可读内容分散注意力，这是一个由来已久的事实。使用Lorem Ipsum的意义在于，它或多或少具有

				</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div style="font-size: large;"><a href="single">返回</a></div>
			
		<!----start-leavecomment---->
			<!-- <div class="leave-comment">
				<h3>评论</h3>
				<div class="table-form">
					<form action="#" method="post" name="post_comment">
				<div>
				<div>
					<label>你的评论<span>*</span></label>
					<textarea> </textarea>	
				</div>
				</form>
					<input type="submit" value="提交">		
			</div> -->
		</div>
		</div>			
	</div>
			
			<!---->

</body>
</html>