<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon-fl-002.png" type="image">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/discounts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <title>详情</title>
</head>

<body style="background-color: aquamarine;">
    <div class="near-box">
        <!--头部开始-->
        <div class="header">
            <% for(let de of detail){ %>
            <% if(de.category == "家具"){ %>
            <a href="../furnitures" class="left"></a>
            <% }else if(de.category == "水果"){ %>
            <a href="../fruits" class="left"></a>
            <% }else if(de.category == "坚果"){ %>
            <a href="../nuts" class="left"></a>
            <% }else{ %>
            <a href="../snacks" class="left"></a>
            <% } %>
            <% } %>
            <!-- <a href="javascript:history.back(-1)" class="left"></a> -->
            详情
        </div>
        <!--头部结束-->
        <div>
            <div style="height: 40px;"></div>
            <input type="text" hidden="true" id="receive_address" value="<%= receive_address %>">
            <% for(let de of detail){ %>
            <input type="text" hidden="true" id="sellers" value="<%= de.sellers %>">
            <p><img src="<%= de.img_link %>"></p>
            <div>
                <span style="font-size: 20px;color:#F47C02;"><%= de.productName %></span>
                &nbsp;&nbsp;&nbsp;
                <button><a href="/shop/<%= de.id %>" style="color: #F47C02;" id="soldout"
                        data-id="<%=de.id%>:<%= de.price %>" class="ids">立即购买</a></button>
                &nbsp;&nbsp;&nbsp;
                <span style="font-size: medium;">数量:&nbsp;&nbsp;<%= de.num %></span>
            </div>
            <div style="height: 10px;background-color:aquamarine"></div>
            <p style="font-size: 5px;"><span>售卖人：</span><br><%= de.sellers %></p>
            <div style="height: 10px;background-color:aquamarine"></div>
            <div><span>价格：</span>&nbsp;&nbsp;&nbsp;<span><%= de.price %>￥</span>
            </div><br>
            <div style="height: 10px;background-color:aquamarine"></div>
            <div><span>下架时间：</span>&nbsp;&nbsp;&nbsp;<span><%= de.end_time %></span></div><br>
            <div>
                <div>商品介绍</div>
                <div style="font-size: 10px;color:darkgray"><%= de.information %></div>
            </div><br>
            <div>
                <div>用户评论</div>
                <% for(let comm of comments){ %>
                <div style="font-size: 10px;color:darkgray;margin-left:9%"><%= comm.comment%></div>
                <% } %>
            </div>
            <div>
                <div>商品评论</div>
                <form role="form" action="/comment" method="POST">
                    <div class="form-group">
                        <label for="name"></label>
                        <textarea name="content" class="form-control" rows="3" required></textarea>
                    </div>
                    <input type="text" hidden="true" name="id" value="<%= de.id %>">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <% } %>
        </div>
        <script>
            //下架商品
            //$("#soldout").click(function () {
            //console.log("qqq")
            /*Array.from(document.getElementsByClassName("id")).forEach(i => {
                i.onclick = function () {
                    let i = this.getAttribute("data-id");
                    let id = this.getAttribute("data-id").split(":");
                    console.log("i", id[0], id[1])
                    web3.eth.sendTransaction({
                        from: User_Accous[0],
                        to: '0xB1bd1AdCDBc5aeBF7D1d594Aac4cBa50fA9305CD',
                        value: id[1] * 10 ** 18,
                        gas: 1500000,
                        gasPrice: 66666
                    }).then(function (receipt) {
                        console.log(receipt)
                        console.log("send seccess")
                        //alert("转账成功")
                    });
                    if (document.getElementById("receive_address").value != " ") {
                        myContract.methods.contribue(id[0], User_Accous[0]).send({
                            from: User_Accous[0]
                        }).then(
                            function (receipte) {
                                console.log("receipt", receipte);
                            })
                    }
                    //window.location.href = '/article/page/'+i;
                }
            })*/
        </script>

    </div>

    <script type="text/javascript" src="/js/web3.min.js"></script>
    <script type="text/javascript" src="/js/web3/web3.js"></script>
    <script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
    <script src="/js/jquery.1.7.1.min.js" type="text/javascript"></script>
</body>

</html>