<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon-fl-002.png" type="image">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <title>历史交易记录</title>
</head>
<body>
    <div class="header">
        <a href="usercenter" class="left"></a>
        历史交易记录
   </div>
    <div class="main">
        <div style="height: 200px;"></div>
        <table class="table table-striped">
            <!-- <caption>条纹表格布局</caption> -->
            <thead>
                <tr>
                    <th>商品类型</th>
                    <th>商品名称</th>
                    <th>商品图片</th>
                    <th>交易状态</th>
                    <th>交易数量</th>
                    <th>价格</th>
                   
                    <!-- <th>邮编</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>食物</td>
                <td>草莓</td>
                <td>
                    <img style="width:50px" src="/img/fruits-img1.png">
                </td>
                <td>售出</td>
                <td>5</td>
                <td>20元</td>
                </tr>
                <tr>
                <td>衣物</td>
                <td>牛仔裤</td>
                <td>
                    <img style="width:50px" src="/img/nut-img1.png">
                </td>
                <td>售出</td>
                <td>5</td>
                <td>20元</td>
                </tr>
                </tbody>
        </table>
        </div>
    </div>
</body>

</html>