<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <title>历史交易记录</title>
</head>
<body>
    <div class="header">
        <a href="usercenter" class="left"></a>
        历史交易记录
   </div>
    <div class="main">
        <div style="height: 200px;"></div>
        <table class="table">
            <!-- <caption>条纹表格布局</caption> -->
            <thead>
                <tr>
                    <th>购买人</th>
                    <th>下单时间</th>
                    <th>购买类型</th>
                    <th>商品名称</th>
                    <th>收货地址</th>
                    <th>确认交易</th>
                   
                    <!-- <th>邮编</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>张三</td>
                    <td>2022-03-25</td>
                    <td>衣物</td>
                    <td>牛仔裤</td>
                    <td>江西软件职业技术大学</td>
                    <td>确定</td>
                </tr>
                <tr>
                    <td>张三</td>
                    <td>2022-03-25</td>
                    <td>衣物</td>
                    <td>牛仔裤</td>
                    <td>江软</td>
                    <td>确定</td>
                </tr>
                </tbody>
        </table>
        </div>
    </div>
</body>

</html>