<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon-fl-002.png" type="image">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <title>我的订单</title>
</head>

<body>
    <div class="header">
        <a href="../usercenter" class="left"></a>
        待发货
    </div>
    <div style="height: 40px;"></div>
    <!-- <div class="panel panel-default">
    <div class="panel-heading">面板标题</div>
    <div class="panel-body">
        <p>这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
        </p>
    </div> -->
    <div>
        <% for(let ind of indent) { %>
        <ul class="list-group">
            <% if (ind.deliver == "商家发货"){ %>
                <center>
                    <li class="list-group-item" style="color: #F47C02;font-size:20px;"><%= ind.productName %></li>
                </center>
                <li class="list-group-item"><img src="<%= ind.img_link %>"></li>
                <li class="list-group-item">￥<%= ind.price %></li>
                <li class="list-group-item">用户信息&nbsp;&nbsp;&nbsp;<%= str[0] %>：<%= str[1]%>&nbsp;&nbsp;&nbsp;<%= str[2] %>
                </li>
                <li class="list-group-item"><a href="#" style="color: #F47C02;font-size:15px;">已发货</a>
                </li>
            <% }else{ %>
                <center>
                    <li class="list-group-item" style="color: #F47C02;font-size:20px;"><%= ind.productName %></li>
                </center>
                <li class="list-group-item"><img src="<%= ind.img_link %>"></li>
                <li class="list-group-item">￥<%= ind.price %></li>
                <li class="list-group-item">用户信息&nbsp;&nbsp;&nbsp;<%= str[0] %>：<%= str[1]%>&nbsp;&nbsp;&nbsp;<%= str[2] %>
                </li>
                <li class="list-group-item"><a href="/indent/<%= ind.id %>" style="color: #F47C02;font-size:15px;">发货</a>
                </li>
            <% } %>
        </ul>
        <% } %>
    </div>
    </div>
</body>

</html>