<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" id="viewport"
		content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="/images/icon-fl-002.png" type="image">
	<link href="/css/reset.css" rel="stylesheet" type="text/css">
	<link href="/css/discounts.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	
</head>
<title>我的商品</title>

<body>
	<div class="near-box">
		<!--头部开始-->
		<div class="header">
			<a href="usercenter" class="left"></a>
			我的商品
		</div>
		<!--头部结束-->
		<div class="discounts-bigbox">
			<div class="discounts-banner1"><img src="/images/myshop.webp" alt=""></div>
			<% for(var shop of myshop){ %>
			<div class="discounts-box1">
				<span class="d-box1-img1"><img src="<%= shop.img_link %>"></span>
				<div class="discounts-box2">
					<span style="font-size: large;" class="d-box2-text1"><%= shop.productName %></span>
					<span style="font-size: medium;" class="d-box2-text1">数量&nbsp;&nbsp;<%= shop.num %></span>
					<p style="color: rgb(60, 54, 44);">下架&nbsp;&nbsp;<%= shop.end_time %></p>
					<!-- <span class="d-box2-text1">上架时间<%= shop.launch_time %></span> -->
					<span class="d-box2-text2">￥<%= shop.price %><i></i></span>
					<input type="text" hidden="true" value="<%= shop.id %>">
					<button class="d-box2-btn"><a href="soldout/<%= shop.id %>" id="soldout" data-id="<%=shop.id%>" class="id">下架商品</a></button>
					
				</div>
			</div>
			<% } %>
			<script>
				//下架商品
				//$("#soldout").click(function () {
					//console.log("qqq")
					/*Array.from(document.getElementsByClassName("id")).forEach(i => {
						i.onclick = function(){
							let i = this.getAttribute("data-id");
							console.log("i",i)
							myContract.methods.delProduct(i, User_Accous[0]).send({
								from: User_Accous[0]
							}).then(
								function (receipte) {
									console.log("receipt", receipte);
								})
							//window.location.href = '/article/page/'+i;
						}
					})*/
				//})
			</script>

		</div>
		
		<script type="text/javascript" src="/js/web3.min.js"></script>
	    <script type="text/javascript" src="/js/web3/web3.js"></script>
		<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
		<script src="/js/jquery.1.7.1.min.js" type="text/javascript"></script>
</body>

</html>