<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>服务评价</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/css/style22.css" />
	<script src="/js/flexible33.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/zepto22.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
	#st{
		    flex-shrink: 0;
    padding: 0 0.25rem;
    height: 0.62rem;
    line-height: .62rem;
    font-size: .28rem;
    color: #666666;
    background: #f2f2f2;
    border-radius: 0.62rem;
    margin-bottom: 0.18rem;
    cursor: pointer;
	}
</style>
<body>
	<!--返回-->


	<div class="top">
		<!-- <a href="../buyshop"><i></i></a> -->
		商品评价
	</div>
	<!--服务评价-->
	<div class="fwpj">


		<span>商品评价</span>
		<div class="star">
			<span class="on"></span>
			<span class="on"></span>
			<span class="on"></span>
			<span class="on"></span>
			<span></span>
		</div>
	</div>
	<div class="form-box">
		<!--具体说说看-->
		<div class="jtssk">
			<p class="title"><span>-</span>具体说说看<span>-</span></p>
			<div class="items">
				<div class="item">
					<span>专业性</span>
					<div class="star">
						<span class="on"></span>
						<span class="on"></span>
						<span class="on"></span>
						<span class="on"></span>
						<span></span>
					</div>
				</div>
				<div class="item">
					<span>服务态度</span>
					<div class="star">
						<span class="on"></span>
						<span class="on"></span>
						<span class="on"></span>
						<span class="on"></span>
						<span></span>
					</div>
				</div>
				<div class="item">
					<span>时效性</span>
					<div class="star">
						<span class="on"></span>
						<span class="on"></span>
						<span class="on"></span>
						<span class="on"></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--选择标签-->
		<div class="xzbq">
			<p class="title"><span>-</span>选择或自定义任一标签<span>-</span></p>
			<div class="tags">
				<ul>
					<li class="on">专业性强</li>
					<li class="on">态度谦和</li>
					<li>声音甜美</li>
					<li>速度很快</li>
					<li>专业性强</li>
					<li>态度谦和</li>
					<li>声音甜美</li>
					<li>速度很快</li>
				</ul>
			</div>
		</div>
		<div class="remark">
			<div class="form-group">
				<label for="name">评论</label>
				<form role="form" action="/comment" method="post">
					<% for(let de of detail){ %>
						<input type="text" id="buynum" hidden="true" value="<%= de.buynum %>">
						<input type="text" hidden="true" id="sellers" value="<%= de.sellers %>">
						<input type="text" hidden="true" name="id" value="<%= de.id %>">

						
						<!-- <div class="submit"> -->
						<button type="submit" hidden="true"  id="buy_shop" data-id="<%=de.id%>:<%= de.price %>">提交</button>
							<!-- <button hidden="true"><a href="/buyshop/<%= de.indentid %>" style="color: #F47C02;font-size:15px;"
								id="buy_shop">确认收货</button> -->
						<!-- </div> -->
					<%}%>
					<textarea name="content" class="form-control" rows="3" required></textarea>
					<a id="st" class="buyshop" data-id="<%=detail[0].id%>:<%= detail[0].price %>">提交</a>
				</form>
			</div>		</div>

	</div>
	<script type="text/javascript">
		// 评价打分
		$('.star span').click(function () {
			$(this).parent().find('span').removeClass('on')
			var index = $(this).index();
			$(this).parent().find('span').each(function () {
				if (index < 0) {
					return
				}
				$(this).addClass('on');
				index--
			})
		})
		// 标签选择
		$('.tags ul li').click(function () {
			$(this).toggleClass('on')
		})
	</script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<!-- <script type="text/javascript" src="/js/web3.min.js"></script>
	<script type="text/javascript" src="/js/web3/web3.js"></script> -->
</body>

</html>