<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户注册</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/css/style0.css">
		<script src="/js/flexible.js" type="text/javascript" ></script>
		<script src="/js/zepto.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<!--头像-->
		<div class="head">
				<img src="/images/01.jpg" style="vertical-align: middle;max-width: 111%;margin-top: -1px;margin-left: -3px;max-height: 104%;">
		</div>
		<!--注册-->
		<form action="/register" method="post">
            <div class="item">
				<input type="text" hidden="true" name="web3" id="address"  autocomplete="off">
				<input type="text" name="address" id="iden"  placeholder="请输入MetaMask账户地址" autocomplete="off" class="vcode" required>
			</div>
			<div class="item">
				<input type="text" name="username" id="username" maxlength="11" placeholder="请输入内部中文名" autocomplete="off" class="name" pattern="[\u4e00-\u9fa5]{1,}" required>
			</div>
			<div class="item">
				<input type="password" name="password" id="password" placeholder="请输入数字密码6~18" autocomplete="off" class="password" pattern="\w{6,18}" required>
			</div>
			<div class="submit"><button id="loginBtn">注&nbsp;册</button></div>
			<div>
				<p><a href="login">登录</a></p>
			</div>
			<div>
				<p><a href="AlterUser">忘记密码?</a></p>
			</div>
		</form>
		<div class="footer">
			<img src="/images/logo.png">
			<p>登录使用就表示同意用户协议<a href="javascript:;">条款</a>和<a href="javascript:;">隐私</a>政策</p>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/web3.min.js"></script>
    <script type="text/javascript" src="/js/web3/web3.js"></script>
	<script src="/js/jquery.1.7.1.min.js" type="text/javascript"></script>
</html>