<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="shortcut icon" href="/images/icon-fl-002.png" type="image">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/discounts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

</head>
<style>
    p {
        margin: 0px;
    }
</style>

<body>
    <div class="header">
        <a href="index" class="left"></a>
        个人中心
    </div>
    <section class="jq22-flexView">

        <section class="jq22-scrollView">
            <div class="jq22-my-head">
                <div class="jq22-my-color">
                    <div class="jq22-flex">

                        <% for(let user of users){ %>
                        <div class="jq22-flex-box">
                            <div class="jq22-my-user">
                                <img src="/images/a.jpg" alt="">
                                <!-- <input type="file" name="file"> -->
                                <span><%= user.username %></span>
                            </div>
                            <input type="text" hidden="true" id="myaddress" value="<%= user.address %>">
                            <h1 style="font-size: 12px;"><%= user.address %></h1>
                        </div>

                        <% } %>
                    </div>
                    <div class="jq22-flex jq22-flex-color">

                    </div>
                </div>
            </div>
            <div class="jq22-course-list">
                <a href="indent" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/icon-fl-001.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>我的订单</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <span><%= amount %></span>
                    </div>
                </a>
                <a href="buyshop" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/icon-fl-005.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>我的购买</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <span><%= coun %></span>
                    </div>
                </a>
                <a href="javascript:;" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/icon-fl-002.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>Metamask钱包余额</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <span style="color:#feaa50" id="balance"></span>Ether
                    </div>
                </a>
                <a href="productadd" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/icon-fl-003.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>上传商品</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <span></span>
                    </div>
                </a>
                <a href="bill" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/icon-fl-004.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>电子发票</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <span></span>
                    </div>
                </a>
                <a href="address" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/icon-fl-006.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>收货地址</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <!-- <span onclick="alter()">修改地址</span> -->
                    </div>
                </a>
                <a href="history" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/icon-sml-002.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>历史交易记录</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <span></span>
                    </div>
                </a>
                <a href="myshop" class="jq22-flex ">
                    <div class="jq22-cou-img">
                        <img src="/images/people2.png" alt="">
                    </div>
                    <div class="jq22-flex-box">
                        <p>我的商品</p>
                    </div>
                    <div class="jq22-ren-arrow">
                        <span></span>
                    </div>
                </a>

            </div>
        </section>
        <!-- <footer class="jq22-footer jq22-footer-fixed">
            <a href="index" class="jq22-tabBar-item ">
                <span class="jq22-tabBar-item-icon">
                    <i class="icon icon-loan"></i>
                </span>
                <span class="jq22-tabBar-item-text">首页</span>
            </a>
            <a href="cart" class="jq22-tabBar-item ">
                <span class="jq22-tabBar-item-icon">
                    <i class="icon icon-ions"></i>
                </span>
                <span class="jq22-tabBar-item-text">购物车</span>
            </a>
        </footer> -->
    </section>
    <script>
        //alert(document.getElementById("myaddress").value)
    </script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/web3.min.js"></script>
    <script type="text/javascript" src="/js/web3/web3.js"></script>
</body>

</html>